<!DOCTYPE html>
<html>
  <head>
    <title>Commands</title>
    <meta
      name="description"
      content="Hosted environment testing of CommunityBans bot"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://static-cdn.jtvnw.net/jtv_user_pictures/d2fd4588-961b-4b85-9e4c-3e8fe425bf44-profile_image-300x300.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="animations.css" />
  </head>
  <body class="fade-in-2">
    <div class="center">
      <h1>
        Commands:
      </h1>
      <h2>
        All Users:
      </h2>
      <p class="center" style="font-size: 20px; color:green;">
        !cb / !communitybans
      </p>
      <p class="center" style="font-size: 18px;">
        "I'm a bot (in development) by twitter.com/StickWiddit to allow
        streamers to ban users across multiple channels of fellow streamers."
      </p>

      <br />
      <p class="center" style="font-size: 20px; color:green;">
        !cbcommands
      </p>
      <p class="center" style="font-size: 18px;">
        "Commands can be found here: https://communitybans.glitch.me/commands"
      </p>

      <h2>
        Moderators:
      </h2>
      <p class="center" style="font-size: 20px; color:green;">
        !cban &ltUsername&gt &ltBanReason&gt
      </p>
      <p class="center" style="font-size: 18px;">
        This will ban the user from every channel within your Community.
      </p>
      <br />
      <p class="center" style="font-size: 20px; color:green;">
        !cunban &ltUsername&gt
      </p>
      <p class="center" style="font-size: 18px;">
        This will unban the user from every channel within your Community.
      </p>
    </div>
    <footer>
      Developed by StickWiddit
      <a href="mailto:stickwiddithd@gmail.com">Email</a>
      <a href="https://twitter.com/StickWiddit">Twitter</a>
      <a href="https://www.twitch.tv/stickwiddit">Twitch</a>
    </footer>
  </body>
</html>

<script>
  window.onload = function() {};
</script>
