<!DOCTYPE html>
<html>
  <head>
    <title>Success!</title>
    <meta
      name="description"
      content="Hosted environment testing of CommunityBans bot"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://static-cdn.jtvnw.net/jtv_user_pictures/d2fd4588-961b-4b85-9e4c-3e8fe425bf44-profile_image-300x300.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="animations.css" />
  </head>
  <body class="fade-in-2">
    <div class="center">
      <h1>
        Successfully Added!
      </h1>
      <p>
        All you have to do now is add <a href="https://www.twitch.tv/CommunityBans">twitch.tv/CommunityBans</a> as a moderator in your channel.
      </p>
      <br>
      <p style="color: green;">
        You can do this by typing " /mod CommunityBans " in your chat.
      </p>
      <br>
      <p>
        Commands Page <a href="https://communitybans.glitch.me/commands">communitybans.glitch.me/commands</a>
      </p>
    </div>
      <footer>
    Developed by StickWiddit
    <a href="mailto:stickwiddithd@gmail.com">Email</a>
    <a href="https://twitter.com/StickWiddit">Twitter</a>
    <a href="https://www.twitch.tv/stickwiddit">Twitch</a>
  </footer>
  </body>
</html>

<script>
  window.onload = function() {
    //console.log("success");
  };
</script>
